{{- $page := .Page }}
{{- $link := .Destination }}
{{- $isExternal := or (strings.HasPrefix $link "https://") (strings.HasPrefix $link "http://") }}
{{- $isResource := strings.HasPrefix $link "!" }}
{{- $text := .Text }}

{{- if $isExternal -}}
	{{ if not $text }}
		{{ $text = $link }}
	{{ end }}

	<a
		href="{{ $link | safeURL }}"
		{{- with .Title}} title="{{ . }}"{{ end }}
		target="_blank"
	>{{ $text | safeHTML }}</a>
{{ else if $isResource }}
	{{ $link = strings.TrimPrefix "!" $link }}
	{{ $name := path.Base $link }}
	{{ if not $text }}
		{{ $text = $name }}
	{{ end }}

	<a
		href="{{ $link }}"
		download="{{ $name }}"
	>{{ $text | safeHTML }}</a>
{{ else }}
	{{ $url := urls.Parse $link }}
	{{ with $url.Path }}
		{{ with $page.GetPage . }}
			{{ $link = .RelPermalink }}

			{{ if not $text }}
				{{ $text = .Title }}
			{{ end }}
		{{ else }}
			{{ $link = "" }}
			{{ warnf "%s: link %s is not resolved" $page.File.Path . }}
		{{ end }}
	{{ else }}
		{{ $link = "" }}
	{{ end }}

	{{ with $url.Fragment }}
		{{ $link = printf "%s#%s" $link . }}
	{{ end }}

	<a
		href="{{ $link | safeURL }}"
		{{- with .Title}} title="{{ . }}"{{ end }}
	>{{ $text | safeHTML }}</a>
{{- end -}}
