:root {
    --icon-link: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M20,0l0,8a1,1 0 0 1 -2,0l0,-6 -6,0a1,1 0 0 1 0,-2z M20,1.414l-8,8a1,1 0 0 1 -1.414,-1.414l8,-8z M0,5l0,13a2,2 0 0 0 2,2l13,0a2,2 0 0 0 2,-2l0,-6a1,1 0 0 0 -2,0l0,5a1,1 0 0 1 -1,1l-11,0a1,1 0 0 1 -1,-1l0,-11a1,1 0 0 1 1,-1l5,0a1,1 0 0 0 0,-2l-6,0a2,2 0 0 0 -2,2z"/></svg>');
}

html {
    font-size: 22px;
}

.md-logo img {
    filter: brightness(0) invert(1)
}

.md-main__inner {
    margin-top: 0;
}

.md-header .md-select.cesbo-menu {
    position: initial;
}

.md-header .md-select.cesbo-menu > .md-select__inner {
    left: 0;
    width: 100vw;
    transform: translate3d(0, .3rem, 0);
}

.md-header .md-select.cesbo-menu:is(:focus-within, :hover) > .md-select__inner {
    max-height: unset;
    transform: translate3d(0, 0, 0);
}

.md-header .md-select.cesbo-menu .md-select__inner::after {
    display: none;
}

@media screen and (min-width: 60em) {
    .md-header .md-select.cesbo-menu {
        position: relative;
    }

    .md-header .md-select.cesbo-menu > .md-select__inner {
        left: 50%;
        width: auto;
        transform: translate3d(-50%, .3rem, 0);
    }

    .md-header .md-select.cesbo-menu:is(:focus-within, :hover) > .md-select__inner {
        transform: translate3d(-50%, 0, 0);
    }

    .md-header .md-select.cesbo-menu .md-select__inner::after {
        display: initial;
    }
}

.md-header .md-select hr {
    border-bottom: 1px solid var(--md-default-fg-color--lightest);
}

.md-typeset :is(.admonition, details) {
    font-size: .8rem;
}

.md-typeset :is(.admonition-title, summary) {
    font-weight: normal;
}

.md-typeset details[open] {
    padding-bottom: .6rem;
}

.md-typeset details[open]>summary {
    margin-bottom: .6rem;
}

a[target="_blank"]::after {
    content: "";
    width: .6em;
    height: .6em;
    margin-left: .4em;
    mask: var(--icon-link) center no-repeat;
    -webkit-mask: var(--icon-link) center no-repeat;
    display: inline-block;
    background-color: currentColor;
}

.md-typeset video {
    width: 100%;
    max-width: min(80vh, 100vw);
}

/* GROOVE WIDGET */

#groove-container-2971b6fd-b471-42cd-9559-6a3b3e7a40f8 {
    overflow: hidden;
}

.groove-header {
    display: block;
    position: absolute;
    border: 0;
    background-color: #519ed4;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.groove-close {
    position: absolute;
    cursor: pointer;
    color: white;
    background-color: #519ed4;
    border: 0;
    border-radius: 50%;
    padding: 2px;
    top: 8px;
    right: 10px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.groove-backdrop-show .groove-close {
    opacity: 1;
    transition-delay: .3s;
}

.groove-close:hover {
    background-color: #62a7d8;
}

.groove-close::before {
    content: "";
    display: block;
    height: 20px;
    aspect-ratio: 1;
    --close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/></svg>');
    mask: var(--close-icon) no-repeat center;
    -webkit-mask: var(--close-icon) no-repeat center;
    background-color: currentColor;
}

.groove-backdrop {
    display: none;
}

.groove-backdrop-show .groove-backdrop {
    display: block;
    content: "";
    inset: 0;
    position: fixed;
    background: grey;
    z-index: 10;
    opacity: 0.5;
}

@media screen and (min-width: 436px) {
    #groove-container-2971b6fd-b471-42cd-9559-6a3b3e7a40f8 {
        bottom: auto !important;
        max-height: calc(100vh - 1rem);
        right: auto !important;
        top: 1rem !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

    .groove-header {
        display: none;
    }
}
