html {
    font-size: 22px;
}

.md-logo img {
    filter: brightness(0) invert(1)
}

.md-main__inner {
    margin-top: 0;
}

.md-typeset :is(.admonition, details) {
    font-size: .8rem;
}

.md-typeset :is(.admonition-title, summary) {
    font-weight: normal;
}

.md-typeset details[open] {
    padding-bottom: .6rem;
}

.md-typeset details[open]>summary {
    margin-bottom: .6rem;
}

a[target="_blank"]::after {
    content: '\2197';
    margin-left: .2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    font-size: .8em;
}

.md-typeset video {
    width: 100%;
    max-width: min(80vh, 100vw);
}
