:root {
    --icon-link: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M20,0l0,8a1,1 0 0 1 -2,0l0,-6 -6,0a1,1 0 0 1 0,-2z M20,1.414l-8,8a1,1 0 0 1 -1.414,-1.414l8,-8z M0,5l0,13a2,2 0 0 0 2,2l13,0a2,2 0 0 0 2,-2l0,-6a1,1 0 0 0 -2,0l0,5a1,1 0 0 1 -1,1l-11,0a1,1 0 0 1 -1,-1l0,-11a1,1 0 0 1 1,-1l5,0a1,1 0 0 0 0,-2l-6,0a2,2 0 0 0 -2,2z"/></svg>');
}

html {
    font-size: 22px;
}

.md-logo img {
    filter: brightness(0) invert(1)
}

.md-main__inner {
    margin-top: 0;
}

.md-typeset :is(.admonition, details) {
    font-size: .8rem;
}

.md-typeset :is(.admonition-title, summary) {
    font-weight: normal;
}

.md-typeset details[open] {
    padding-bottom: .6rem;
}

.md-typeset details[open]>summary {
    margin-bottom: .6rem;
}

a[target="_blank"]::after {
    content: "";
    width: .6em;
    height: .6em;
    margin-left: .4em;
    mask: var(--icon-link) center no-repeat;
    -webkit-mask: var(--icon-link) center no-repeat;
    display: inline-block;
    background-color: currentColor;
}

.md-typeset video {
    width: 100%;
    max-width: min(80vh, 100vw);
}
