
main {
	padding: 1.5em 0;
}

/* HEADER */

header {
	box-shadow: var(--button-shadow);
}

header>nav {
	padding: 0;
}

header>nav>.logo {
	padding: 0 var(--space-unit);
	display: flex;
	align-items: center;
}

header>nav>.logo:hover {
	background-color: transparent;
}

/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--text-lighter);
	padding: var(--space-sm) 0;
}

footer>nav {
	padding: 0;
	justify-content: center;
}

footer>nav.legal {
	margin-top: var(--space-xl);
}

footer>nav.legal>.copyright {
	color: var(--text-light);
	padding: var(--space-xs) var(--space-unit);
	display: flex;
	align-items: center;
}

/* PAGES */

main.page {
	padding: 0 var(--space-unit);
}

/* DOCS */

main.docs {
	display: flex;
	flex-direction: row;
}

main.docs>.sidemenu {
	min-width: 300px;
	max-width: 300px;
	overflow-x: hidden;
}

main.docs>.sidemenu a {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

main.docs>article {
	padding: 0 var(--space-unit);
}

main.docs a[href=""] {
	color: var(--text-light) !important;
	background-color: transparent !important;
	text-decoration: none !important;
	cursor: default;
	pointer-events: none;
}

main.docs figure {
	display: block;
}

main.docs figure img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0 0 2px 0 #a9a9a9;
}

/* RESPONSIVE */

@media only screen and (max-width: 800px) {
	.hide-sm {
		display: none;
	}

	footer {
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	footer>nav.menu {
		flex-direction: column;
		align-items: flex-end;
	}

	footer>nav.legal {
		flex-direction: column-reverse;
		align-items: flex-start;
		margin-top: 0;
	}
}

@media only screen and (max-width: 1000px) {

}
