
header {
	border-bottom: thin solid var(--text-light);
}

main {
	flex-grow: 1;
	padding: 1.5em 0;
}

footer {
	border-top: thin solid var(--text-light);
}

header>nav,
footer>nav {
	padding: 0;
	min-height: 2.5rem;
}

header>nav>.logo,
footer>nav>.copyright {
	padding: 0 1rem;
	margin-right: auto;
	line-height: 0;
	align-self: center;
}

header>nav>.logo:hover {
	background-color: transparent;
}

/* DOCS */

main.docs {
	display: flex;
	flex-direction: row;
}

main.docs>.sidemenu {
	min-width: 300px;
	max-width: 300px;
	overflow-x: hidden;
}

main.docs>.sidemenu a {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

main.docs>:last-child {
	flex-grow: 1;
	padding: 0 1em;
}

main.docs a[href=""] {
	color: var(--text-light) !important;
	background-color: transparent !important;
	text-decoration: none !important;
	cursor: default;
	pointer-events: none;
}

main.docs figure {
	display: block;
}

main.docs figure img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0 0 2px 0 #a9a9a9;
}

/* RESPONSIVE */

@media only screen and (max-width: 800px) {
	nav>.sidebar {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {

}
