/*! based on https://github.com/vasanthv/stylize.css */

:root {
    --font-content: "Roboto", "Helvetica Neue", sans-serif;
    --font-monospace: monospace;

    --background: #ffffff;

    --color-dark: 40%;
    --color-normal: 60%;
    --color-light: 96%;

    --blue-dark: hsl(210, 100%, var(--color-dark));
    --blue: hsl(210, 100%, var(--color-normal));
    --blue-light: hsl(210, 100%, var(--color-light));

    --green-dark: hsl(150, 100%, var(--color-dark));
    --green: hsl(150, 100%, var(--color-normal));
    --green-light: hsl(150, 100%, var(--color-light));

    --red-dark: hsl(0, 100%, var(--color-dark));
    --red: hsl(0, 100%, var(--color-normal));
    --red-light: hsl(0, 100%, var(--color-light));

    --yellow-dark: hsl(60, 100%, var(--color-dark));
    --yellow: hsl(60, 100%, var(--color-normal));
    --yellow-light: hsl(60, 100%, var(--color-light));

    --text: #212121;
    --text-med: #626262;
    --text-light: #9a9a9a;
    --text-lighter: #f6f7f6;

    --border-radius: 5px;

    --button-shadow: 0 0 4px 0 var(--text-light);

    --space-unit: 1em;
    --space-xs: calc(0.4 * var(--space-unit));
    --space-sm: calc(0.8 * var(--space-unit));
    --space-md: calc(1.2 * var(--space-unit));
    --space-lg: calc(1.6 * var(--space-unit));
    --space-xl: calc(2.0 * var(--space-unit));
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body{
    font-family: var(--font-content);
    line-height: 1.5rem;
    font-size: var(--space-unit);
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    height: 100%;
}

/* Headings */

h1, h2, h3 {
    margin: .3em 0;
    padding: .3em 0;
}

h1 {
    font-size: var(--space-xl);
    margin-top: 0;
    padding-top: 0;
}
h2 { font-size: var(--space-lg); }
h3 { font-size: var(--space-md); }

h4, h5, h6 { display: none; }

h1>a, h2>a, h3>a {
    float: right;
}

h1>a>.icon, h2>a>.icon, h3>a>.icon {
    width: 1.2rem;
    height: 1.2rem;
}

/* Links */

a {
    text-decoration: none;
    color: var(--blue);
    background-color: transparent;
}

a:hover {
    color: var(--blue-dark);
    text-decoration: underline;
}

/* Navigation Links*/

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

nav a,
nav details>summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    padding: var(--space-xs) var(--space-unit);
    white-space: nowrap;
    color: var(--blue);
}

nav a:hover,
nav details.submenu>summary:hover,
nav details.submenu[open]>summary {
    color: var(--blue-dark);
    background-color: var(--blue-light);
    text-decoration: none;
}

nav a.active {
    font-weight: 600;
    color: var(--blue-dark);
}

/* SIDE MENU */

nav.sidemenu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav.sidemenu>* {
    width: 100%;
}

nav.sidemenu details {
    display: flex;
    flex-direction: column;
}

nav.sidemenu details>summary {
    font-weight: 600;
    color: var(--text-light);
    width: 100%;
}

/* SUB MENU */

details.submenu {
    position: relative;
}

details.submenu>summary {
    list-style: none;
    height: 100%;
}

details.submenu>summary::-webkit-details-marker {
    display: none;
}

details.submenu[open]>summary::before {
    position: fixed;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: block;
    cursor: default;
    background: transparent;
}

details.submenu[open]>summary+* {
    position: absolute;
    z-index: 51;
    background-color: var(--background);
    background-clip: padding-box;
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
    overflow: hidden;
}

details.submenu-up[open]>summary+* { bottom: calc(100% + .25em); }
details.submenu-right[open]>summary+* { right: .25em; }
details.submenu-down[open]>summary+* { top: calc(100% + .25em); }
details.submenu-left[open]>summary+* { left: .25em; }

/* Horizontal Line */

hr {
    border: 1px solid var(--text-med);
    border-bottom: 0px;
    height:0px;
}

/* Text formatting tags */

p {
    margin:1em 0;
}

mark {
    background-color: var(--yellow);
    color: #333333;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
}

/* Quotation and Citation tags*/

pre {
    display: block;
    width: 100%;
    padding: 1.25em 1em;
    line-height: 1.25;
    background-color: var(--text-lighter);

    border: 1px solid var(--text-light);
    border-left-width: 4px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    overflow-x: auto;
    overflow-y: hidden;
}

blockquote {
    border-left: 4px solid var(--text-light);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin: 1em 0;
    padding: 1.25em 1em;
}

code,
kbd,
samp {
    font-family: var(--font-monospace);
    font-size: 1rem;
    line-height: 1.5;
}

/* List items */

ul, ol {
    padding-left: var(--space-lg);
}

/* Details */

summary {
    cursor: pointer;
}

/* Form elements */

fieldset {
    border: 1px solid var(--text);
    border-radius: var(--border-radius);
}

select {
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M00h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

button,
input,
select,
textarea,
a[role="button"] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0.33em;
    border: 1px solid var(--text-light);
    border-radius: var(--border-radius);
    overflow: hidden;
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
}

button,
input[type="button"],
input[type="submit"],
a[role="button"] {
    padding: 0.33em 0.66em;
    cursor: pointer;
    background-color: var(--text-lighter);
    color: var(--text);
    text-decoration: none;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
a[role="button"]:hover {
    background-color: var(--text-light);
}

a[role="button"] {
    padding: 0.5em 0.66em;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
a[role="button"]:disabled {
    background-color: var(--text-lighter);
    color: var(--text-light);
    cursor: not-allowed;
}

/* Progress Bar */

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    border: none;
    width: 15em;
    height: 0.75em;
    background-color: var(--text-light);
    color: var(--blue);
}

progress[value]::-webkit-progress-bar {
    background-color: var(--text-light);
}

progress[value]::-webkit-progress-value {
    background-color: var(--blue);
}

/* Table Elements */

table {
    border-collapse: collapse;
}

table,
table th,
table td {
    border-bottom: 1px solid var(--text-light);
    padding: 0.33em 0.66em;
    text-align: left;
    vertical-align: middle;
}

table[border="1"],
table[border="1"] th,
table[border="1"] td {
    border: 1px solid var(--text-light);
}

/* Utility classes */

.hide { display: none; }

.text-sm { font-size: var(--space-sm); }

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-expand { flex: 1 1 auto; min-width: 0; }

.icon {
    display: inline-block;
    width: var(--space-md);
    height: var(--space-md);
    fill: currentColor;
}

/* NOTICE */

.notice {
    padding: var(--space-lg);
    background-color: var(--blue-light);
    border: 1px solid var(--blue);
    border-left-width: 4px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.notice>h3 {
    padding-top: 0;
    margin-top: 0;
    border-bottom: thin solid var(--blue);
}

.notice>:last-child {
    margin-bottom: 0;
}

.notice.alert {
    border-color: var(--red);
    background-color: var(--red-light);
}

.notice.alert>h3 {
    border-bottom-color: var(--red);
}
