/*! based on https://github.com/vasanthv/stylize.css */

:root {
    --font-content: "Roboto", "Helvetica Neue", sans-serif;
    --font-monospace: "Consolas", monospace;

    --background: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 10%);

    --lightness-dark: 30%;
    --lightness-normal: 60%;
    --lightness-light: 90%;

    --red-dark: hsl(0, 60%, var(--lightness-dark));
    --red-normal: hsl(0, 60%, var(--lightness-normal));
    --red-light: hsla(0, 60%, var(--lightness-light), .5);

    --yellow-dark: hsl(60, 60%, var(--lightness-dark));
    --yellow-normal: hsl(60, 60%, var(--lightness-normal));
    --yellow-light: hsla(60, 60%, var(--lightness-light), .5);

    --green-dark: hsl(120, 60%, var(--lightness-dark));
    --green-normal: hsl(120, 60%, var(--lightness-normal));
    --green-light: hsla(120, 60%, var(--lightness-light), .5);

    --blue-dark: hsl(210, 60%, var(--lightness-dark));
    --blue-normal: hsl(210, 60%, var(--lightness-normal));
    --blue-light: hsla(210, 60%, var(--lightness-light), .5);

    --grey-dark: hsl(0, 0%, var(--lightness-dark));
    --grey-normal: hsl(0, 0%, var(--lightness-normal));
    --grey-light: hsla(0, 0%, var(--lightness-light), .5);

    --border-radius: 5px;

    --box-shadow: 0 0 4px 0 var(--grey-normal);

    --space-unit: 1em;
    --space-xs: calc(0.4 * var(--space-unit));
    --space-sm: calc(0.8 * var(--space-unit));
    --space-md: calc(1.2 * var(--space-unit));
    --space-lg: calc(1.6 * var(--space-unit));
    --space-xl: calc(2.0 * var(--space-unit));
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    font-family: var(--font-content);
    line-height: 1.5rem;
    font-size: var(--space-unit);
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    height: 100%;
}

/* Headings */

h1, h2, h3 {
    margin: var(--space-sm) 0;
    padding: var(--space-xs) 0;
}

h1 {
    font-size: var(--space-xl);
    margin-top: 0;
    border-bottom: thin dotted var(--blue-normal);
}
h2 {
    font-size: var(--space-lg);
    border-bottom: thin dotted var(--blue-normal);
}
h3 { font-size: var(--space-md); }

h4, h5, h6 { display: none; }

h1>a, h2>a, h3>a {
    float: right;
}

h1>a>.icon, h2>a>.icon, h3>a>.icon {
    width: 1.2rem;
    height: 1.2rem;
}

/* Links */

a {
    text-decoration: none;
    color: var(--blue-normal);
    background-color: transparent;
}

a:hover {
    color: var(--blue-dark);
    text-decoration: underline;
}

a.alert {
    color: var(--red-normal);
}

a.alert:hover {
    color: var(--red-dark);
}

/* Navigation Links*/

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

nav a,
nav details>summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    padding: var(--space-xs) var(--space-unit);
    white-space: nowrap;
}

nav a:hover,
nav details>summary:hover {
    background-color: var(--blue-light);
    text-decoration: none;
}

nav a.active {
    font-weight: 600;
    color: var(--blue-dark);
}

/* SIDE MENU */

nav.sidemenu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav.sidemenu>* {
    width: 100%;
}

nav.sidemenu details>summary {
    display: block;
    font-weight: 600;
    color: var(--grey-normal);
}

/* SUB MENU */

details.submenu { position: relative; }

details.submenu>summary {
    display: flex;
    flex-direction: row;
    align-items: center;
}

details.submenu[open]>summary::before {
    position: fixed;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: block;
    cursor: default;
    background: transparent;
}

details.submenu[open]>nav {
    position: absolute;
    z-index: 51;
    background-color: var(--background);
    background-clip: padding-box;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

details.submenu-up[open]>nav { bottom: calc(100% + .25em); }
details.submenu-right[open]>nav { right: .25em; }
details.submenu-down[open]>nav { top: calc(100% + .25em); }
details.submenu-left[open]>nav { left: .25em; }

/* Horizontal Line */

hr {
    border: 1px solid var(--grey-normal);
    border-bottom: 0px;
    height:0px;
}

/* Text formatting tags */

p {
    margin:1em 0;
}

mark {
    background-color: var(--yellow-normal);
    color: #333333;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
}

/* Quotation and Citation tags*/

pre {
    display: block;
    width: 100%;
    padding: var(--space-md);
    line-height: 1.25;
    background-color: var(--grey-light);
    border: 1px solid var(--grey-normal);
    border-left-width: 4px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    overflow-x: auto;
    overflow-y: hidden;
}

blockquote {
    border-left: 4px solid var(--grey-normal);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin: 1em 0;
    padding: 1.25em 1em;
}

code,
kbd,
samp {
    font-family: var(--font-monospace);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--red-normal);
}

pre code {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

/* List items */

ul, ol {
    padding-left: var(--space-lg);
}

/* Details */

details>summary {
    cursor: pointer;
    color: var(--blue-normal);
    width: 100%;
}

details>summary:hover {
    color: var(--blue-dark);
}

details>.spoiler {
    width: 100%;
    padding: var(--space-md);

    border: 1px solid var(--grey-normal);
    border-left-width: 4px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

details>.spoiler>:first-child {
    margin-top: 0;
}

details>.spoiler>:last-child {
    margin-bottom: 0;
}

details>nav {
    flex-direction: column;
}

/* Form elements */

fieldset {
    border: 1px solid var(--grey-normal);
    border-radius: var(--border-radius);
}

select {
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance : none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M00h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

button,
input,
select,
textarea,
a[role="button"] {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0.33em;
    border: 1px solid var(--grey-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
}

button,
input[type="button"],
input[type="submit"],
a[role="button"] {
    padding: 0.33em 0.66em;
    cursor: pointer;
    background-color: var(--grey-light);
    color: var(--text);
    text-decoration: none;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
a[role="button"]:hover {
    background-color: var(--grey-normal);
}

a[role="button"] {
    padding: 0.5em 0.66em;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
a[role="button"]:disabled {
    background-color: var(--grey-light);
    color: var(--grey-normal);
    cursor: not-allowed;
}

/* Progress Bar */

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    border: none;
    width: 15em;
    height: 0.75em;
    background-color: var(--grey-normal);
    color: var(--blue-normal);
}

progress[value]::-webkit-progress-bar {
    background-color: var(--grey-normal);
}

progress[value]::-webkit-progress-value {
    background-color: var(--blue-normal);
}

/* Table Elements */

table {
    border-collapse: collapse;
}

table,
table th,
table td {
    border-bottom: 1px solid var(--grey-normal);
    padding: 0.33em 0.66em;
    text-align: left;
    vertical-align: middle;
}

table.border,
table.border th,
table.border td {
    border: 1px solid var(--grey-normal);
}

/* Utility classes */

.hide { display: none; }

.text-sm { font-size: var(--space-sm); }

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-expand { flex: 1 1 auto; min-width: 0; }

.icon {
    display: inline-block;
    width: var(--space-md);
    height: var(--space-md);
    fill: currentColor;
}

/* NOTE */

.note {
    padding: var(--space-md);
    background-color: var(--blue-light);
    border: 1px solid var(--blue-normal);
    border-left-width: 4px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.note>h3 {
    padding-top: 0;
    margin-top: 0;
    border-bottom: thin solid var(--blue-normal);
}

.note>:first-child {
    margin-top: 0;
}

.note>:last-child {
    margin-bottom: 0;
}

.note.alert {
    border-color: var(--red-normal);
    background-color: var(--red-light);
}

.note.alert>h3 {
    border-bottom-color: var(--red-normal);
}
