:root {
	--font-size: 16px;
	--font-content: "Nunito", "Helvetica Neue", sans-serif;
	--font-monospace: "Consolas", monospace;

	--background: hsl(0, 0%, 100%);
	--text: hsl(0, 0%, 10%);

	--border-radius: 5px;

	--lightness-dark: 30%;
	--lightness-normal: 60%;
	--lightness-light: 90%;
	--red-dark: hsl(0, 60%, var(--lightness-dark));
	--red-normal: hsl(0, 60%, var(--lightness-normal));
	--red-light: hsla(0, 60%, var(--lightness-light), .25);
	--yellow-dark: hsl(60, 60%, var(--lightness-dark));
	--yellow-normal: hsl(60, 60%, var(--lightness-normal));
	--yellow-light: hsla(60, 60%, var(--lightness-light), .25);
	--green-dark: hsl(120, 60%, var(--lightness-dark));
	--green-normal: hsl(120, 60%, var(--lightness-normal));
	--green-light: hsla(120, 60%, var(--lightness-light), .25);
	--blue-dark: hsl(210, 60%, var(--lightness-dark));
	--blue-normal: hsl(210, 60%, var(--lightness-normal));
	--blue-light: hsla(210, 60%, var(--lightness-light), .25);
	--grey-dark: hsl(0, 0%, var(--lightness-dark));
	--grey-normal: hsl(0, 0%, var(--lightness-normal));
	--grey-light: hsla(0, 0%, var(--lightness-light), .25);

	--space-unit: 1em;
	--space-xs: calc(0.4 * var(--space-unit));
	--space-sm: calc(0.8 * var(--space-unit));
	--space-md: calc(1.2 * var(--space-unit));
	--space-lg: calc(1.6 * var(--space-unit));
	--space-xl: calc(2.0 * var(--space-unit));

	--modal-max-width: 680px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: var(--font-size);
}

body {
	font-family: var(--font-content);
	line-height: 1.5rem;
	font-size: var(--space-unit);
	background-color: var(--background);
	color: var(--text);
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: row;
}

/* Sidebar */

@media screen and (max-width:768px) {
	body .sidebar {
		height: 100%;
		position: fixed;
		left: 0;
		transform: translateX(-100%);
		transition: transform 250ms ease-in-out;
		z-index: 100;
		max-width: 100%;
		width: 100%;
	}

	body .sidebar-toggle {
		display: block;
	}

	body.close .sidebar {
		display: initial;
		transform: translateX(0);
	}

	body .content {
		padding: 0 var(--space-sm);
		transition: transform 250ms ease-in-out;
		transform: translateX(0);
	}

	body.close .content {
		transform: translateX(100%);
	}
}

.sidebar-toggle {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;

	border: 1px solid var(--blue-normal);
	border-radius: var(--border-radius);
	background-color: var(--blue-light);
	color: var(--blue-normal);

	cursor: pointer;
	font-size: initial;

	z-index: 101;
}

.sidebar-toggle-button {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: var(--space-lg);
	padding: 4px 2px;
}

.sidebar-toggle-button span {
	display: block;
	width: 100%;
	border-bottom: 4px solid var(--blue-normal);
}

.sidebar {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	overflow-x: hidden;
	background-color: var(--background);
	padding: var(--space-xs) 0;
	min-width: 300px;
	max-width: 300px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar a {
	display: block;
	padding: var(--space-xs) var(--space-sm);
}

.sidebar li.active>a {
	font-weight: 600;
}

.sidebar details ul { background-color: var(--grey-light); }
.sidebar details ul a { padding-left: var(--space-lg); }

.sidebar details>summary {
	padding: var(--space-xs) var(--space-sm);
	font-weight: 600;
	color: var(--grey-normal);
	list-style: none;
}

.sidebar details>summary:focus {
	outline: none;
}

.sidebar details>summary::-webkit-details-marker {
	display: none;
}

.sidebar details>summary.icon {
	position: relative;
}

.sidebar details>summary.icon::before {
	position: absolute;
	right: var(--space-sm);
	mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 5" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 l5,5,5,-5z"/></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 5" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 l5,5,5,-5z"/></svg>');
	width: var(--space-sm);
	transform: rotate(90deg);
}

.sidebar details[open]>summary.icon::before {
	transform: rotate(0);
}

/* Search */

.sidebar .search {
	padding: 0;
	border: none;
	margin: 0;
}

.sidebar .search .input-wrap {
	position: relative;
}

.sidebar .search input {
	font-size: initial;
	padding: var(--space-xs) 36px var(--space-xs) var(--space-sm);
	outline: none;
	border: none;
}

.sidebar .search input:focus {
	box-shadow: none;
	border: none;
}

.sidebar .search .clear-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.sidebar .search .clear-button.show {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar .search .clear-button svg {
	transform: none;
}

.sidebar .search a {
	padding: 0;
}

.sidebar .search a>h2 {
	border-bottom: none;
	margin: 0;
}

.sidebar .search a>p {
	margin: 0;
	padding-bottom: var(--space-xs);
}

.sidebar .search .search-keyword {
	font-style: normal;
	color: var(--green-normal);
}

.sidebar .search .matching-post {
	padding: var(--space-xs) var(--space-sm);
}

/* Content */

.content {
	padding: 0 var(--space-unit);
	flex-grow: 2;
	overflow-x: hidden;
}

/* Headings */

h1, h2, h3 {
	margin: var(--space-sm) 0;
	padding: var(--space-xs) 0;
}
h4, h5, h6 { display: none; }

h1 {
	font-size: var(--space-lg);
	margin-top: 0;
	border-bottom: thin dotted var(--blue-normal);
}

h2 {
	font-size: var(--space-md);
	border-bottom: thin dotted var(--blue-normal);
}

h3 { font-size: var(--space-unit); }

h1>a, h2>a, h3>a { color: var(--text); }
h1>a:hover, h2>a:hover, h3>a:hover { text-decoration: none; }

/* Links */

a {
	text-decoration: none;
	color: var(--blue-normal);
	background-color: transparent;
}

a:hover,
a:focus {
	color: var(--blue-dark);
	text-decoration: underline;
}

a.alert {
	color: var(--red-normal);
}

a.alert:hover {
	color: var(--red-dark);
}

/* Horizontal Line */

hr {
	border: 1px solid var(--grey-normal);
	border-bottom: 0px;
	height:0px;
}

/* Text formatting tags */

p {
	margin:1em 0;
}

mark {
	background-color: var(--yellow-normal);
	color: #333333;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
}

/* Notifications */

.content .tip {
	background-color: var(--blue-light);
	padding: var(--space-md);
	border: 1px solid var(--blue-normal);
	border-left-width: 4px;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.content .warn {
	background-color: var(--red-light);
	padding: var(--space-md);
	border: 1px solid var(--red-normal);
	border-left-width: 4px;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

/* Quotation and Citation tags*/

.content pre {
	display: block;
	padding: var(--space-md);
	line-height: 1.25;
	background-color: var(--grey-light);
	border: 1px solid var(--grey-normal);
	border-left-width: 4px;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);

	overflow-x: auto;
	overflow-y: hidden;
}

.content blockquote {
	border-left: 4px solid var(--grey-normal);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin: 1em 0;
	padding: 1.25em 1em;
}

.content code,
.content kbd,
.content samp {
	font-family: var(--font-monospace);
	font-size: 1rem;
	line-height: 1.5;
	color: var(--red-normal);
}

.content pre code {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
}

/* List items */

.content ul,
.content ol {
	padding-left: var(--space-lg);
}

/* Image */

.content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 2px var(--grey-normal);
}

/* Details */

details>summary {
	cursor: pointer;
	color: var(--blue-normal);
}

details>summary:hover {
	color: var(--blue-dark);
}

details>.spoiler {
	padding: var(--space-md);

	border: 1px solid var(--grey-normal);
	border-left-width: 4px;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

details>.spoiler>:first-child {
	margin-top: 0;
}

details>.spoiler>:last-child {
	margin-bottom: 0;
}

/* Icons */

.icon::before {
	content: " ";
	display: flex;
	background-color: currentColor;
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	width: var(--space-lg);
	height: var(--space-lg);
}
