.aa-Autocomplete {
    height: 100%;
}

.aa-DetachedSearchButton {
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--blue-normal);
    height: 100%;
}

.aa-DetachedSearchButton:hover,
.aa-DetachedSearchButton:focus {
    color: var(--blue-dark);
    box-shadow: none;
}

.aa-DetachedSearchButton:active {
    box-shadow: none;
}

.aa-DetachedSearchButtonIcon ,
.aa-DetachedSearchButtonPlaceholder {
    display: none;
}

.aa-Form {
    width: auto;
    flex-grow: 1;
}
