---
import Default from "@astrojs/starlight/components/SiteTitle.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale ?? Astro.preferredLocale ?? "en";

const urlAstra = getRelativeLocaleUrl(locale, "/astra");
const urlAlta = getRelativeLocaleUrl(locale, "/alta");
const urlSenta = getRelativeLocaleUrl(locale, "/senta");
const urlMisc = getRelativeLocaleUrl(locale, "/misc");
---

<Default />
<nav class="hidden xl:flex ml-4 flex-nowrap items-center gap-4">
    <a href={urlAstra}>{Astro.locals.t("product.astra")}</a>
    <a href={urlAlta}>{Astro.locals.t("product.alta")}</a>
    <a href={urlSenta}>{Astro.locals.t("product.senta")}</a>
    <a href={urlMisc}>{Astro.locals.t("product.misc")}</a>
</nav>

<style>
    a {
        display: block;
        border-radius: 0.25rem;
        text-decoration: none;
        font-weight: 500;
        color: var(--sl-color-gray-4);
        padding: 0.3em var(--sl-sidebar-item-padding-inline);
        line-height: 1.4;
        transition: color 0.2s ease-in-out;
    }

    a:hover,
    a:focus {
        color: var(--sl-color-white);
    }
</style>
