<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex" />

	<title>Redirect...</title>

	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
	<link rel="canonical" href="{{ .Permalink }}" />
	<noscript>
		<meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
	</noscript>
</head>
<body>

<script>
function getLanguage(lang) {
	lang = lang || getCookie('lang') || navigator.language || 'en';
	lang = lang.substring(0, 2);
	switch(lang) {
		case 'en':
		case 'ru':
			return lang;
		default:
			return 'en';
	}
}

function setCookie(cname, cvalue, exdays) {
	let d = new Date();
	d.setTime(d.getTime() + exdays * 86400000);
	document.cookie = cname + '=' + cvalue + ';expires=' + d.toUTCString() + ';path=/';
}

function getCookie(cname) {
	const name = cname + '=';
	const decodedCookie = decodeURIComponent(document.cookie);
	const ca = decodedCookie.split(';');
	for(let i = 0; i < ca.length; i++) {
		const c = ca[i];
		while(c.charAt(0) == ' ') c = c.substring(1);
		if(c.indexOf(name) == 0) return c.substring(name.length, c.length);
	}
	return '';
}
</script>

{{- if not $.Page }}

<script>
const params = new URLSearchParams(location.search);
const lang = getLanguage(params.get('lang'));
const next = params.get('next') || '/';
if(params.has('lang')) setCookie('lang', lang, 365);
location.replace('/' + lang + next);
</script>

{{- else }}

<script>
function alias(name) {
	location.replace('/' + getLanguage() + '/' + name + '/')
}

switch(location.pathname) {
	case '/404.html': alias('404'); break;
	case '/pricing/': alias('pricing'); break;
	case '/profile/': alias('profile'); break;
	case '/help/': alias('help'); break;
	case '/astra-license/': alias('pricing'); break;

	default: location.replace('{{ .Permalink }}');
}
</script>

{{- end }}

</body>
</html>
