<!DOCTYPE html>
<html>
<head>
	<title>{{ .Permalink }}</title>
	<link rel="canonical" href="{{ .Permalink }}"/>
	<meta name="robots" content="noindex">
	<meta charset="utf-8"/>
	<noscript>
		<meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
	</noscript>
</head>
<body>

<script>
function checkLanguage(l) {
	l = l.substring(0, 2);
	return (l != 'ru') ? 'en' : l;
}

function getLanguage() {
	return checkLanguage(getCookie('lang') || navigator.language || 'en');
}

function setCookie(cname, cvalue, exdays) {
	let d = new Date();
	d.setTime(d.getTime() + exdays * 86400000);
	document.cookie = cname + '=' + cvalue + ';expires=' + d.toUTCString() + ';path=/';
}

function getCookie(cname) {
	const name = cname + '=';
	const decodedCookie = decodeURIComponent(document.cookie);
	const ca = decodedCookie.split(';');
	for(let i = 0; i < ca.length; i++) {
		const c = ca[i];
		while(c.charAt(0) == ' ') c = c.substring(1);
		if(c.indexOf(name) == 0) return c.substring(name.length, c.length);
	}
	return '';
}
</script>

{{- if not $.Page }}

<script>
const params = new URLSearchParams(location.search);
const nextLanguage = params.get('lang');
if(nextLanguage) {
	const l = checkLanguage(nextLanguage);
	setCookie('lang', l, 365);
	const nextHref = params.get('next') || '/';
	location.replace('/' + l + nextHref);
} else {
	location.replace('/' + getLanguage() + '/');
}
</script>

{{- else }}

<script>
function shortAppAlias(name) {
	name = name || location.pathname.substring(1, location.pathname.length - 1);
	location.replace('/' + getLanguage() + '/a#' + name);
}

switch(location.pathname) {
	case '/pricing/':
	case '/profile/':
	case '/help/':
		shortAppAlias();
		break;
	case '/astra-license/': shortAppAlias('pricing'); break;
	default:
		location.replace('{{ .Permalink }}');
		break;
}
</script>

{{- end }}

</body>
</html>
