{{ define "main" }}
<div class="landing-hero">
	<div>
		<h1>Astra</h1>
		<p class="lead">{{ .Site.Params.description }}</p>
	</div>

	<div>
		<div class="demo-card-stack">
			<span class="demo-card card-true-2">
				<div class="demo-card-name">DVB Adapter</div>
				<span class="demo-card-action demo-button demo-icon demo-icon-more"></span>
				<div class="dvb-status demo-row demo-monospace demo-card-status">
					<div class="text">S</div>
					<div class="demo-progress signal-level col-expand">
						<div class="progress-level" style="width: 86%;" id="demo-dvb-s-level"></div>
						<div class="progress-overlay"></div>
					</div>
					<div class="text" id="demo-dvb-s-value">86%</div>
				</div>
				<div class="dvb-status demo-row demo-monospace demo-card-status">
					<div class="text">Q</div>
					<div class="demo-progress signal-level col-expand">
						<div class="progress-level" style="width: 64%;" id="demo-dvb-q-level"></div>
						<div class="progress-overlay"></div>
					</div>
					<div class="text" id="demo-dvb-q-value">64%</div>
				</div>
				<div class="demo-card-status demo-monospace">
					<span class="text">ber:0 unc:0</span>
				</div>
			</span>
		</div>

		<div class="demo-card-stack">
			<span class="demo-card card-true-2">
				<div class="demo-card-name">Single Program TS</div>
				<span class="demo-card-action demo-button demo-icon demo-icon-more"></span>
				<div class="demo-card-status" title="dvb://a001#pnr=505">
					<span class="text onair" id="demo-stream-uhd">13500Kbit/s</span>
				</div>
			</span>

			<span class="demo-card stream-mpts card-true-2">
				<div class="demo-card-name">Multi Program TS</div>
				<span class="demo-card-action demo-button demo-icon demo-icon-more"></span>
				<div class="demo-card-status" title="stream://a002">
					<span class="text onair" data-name="[Relax UHD]" id="demo-multiplex-1">13500Kbit/s</span>
				</div>
				<div class="demo-card-status" title="udp://239.255.1.1:1234">
					<span class="text onair" data-name="[Movies HD]" id="demo-multiplex-2">4900Kbit/s</span>
				</div>
				<div class="demo-card-status" title="udp://239.255.1.2:1234">
					<span class="text onair" data-name="[News SD]" id="demo-multiplex-3">1900Kbit/s</span>
				</div>
				<div class="demo-card-status demo-card-footer" title="Total">
					<span class="text onair" id="demo-multiplex-total">13500Kbit/s</span>
				</div>
			</span>
		</div>
	</div>
</div>

<div class="landing-info">
{{ .Content }}
</div>

{{ end }}
